<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoveBip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CC1718C1D09670C00EB1DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CC171A01D09670D00EB1DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CC171AB1D09670D00EB1DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
